In [57]:
import pandas as pd

In [58]:
train = pd.read_csv("/root/ant/atec_anti_fraud_train.csv")
test_a = pd.read_csv("/root/ant/atec_anti_fraud_test_a.csv")
test_b = pd.read_csv("/root/ant/atec_anti_fraud_test_b.csv")

In [59]:
train.loc[train['label'] == -1,'label']=1
list(set(train.label))

[0, 1]

In [60]:
validation = train[train["date"] > 20171021]

In [61]:
train = train[train["date"] <= 20171021]

In [62]:
train.drop(['id', 'date'], axis=1, inplace=True)

In [63]:
train.head()

,label,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f288,f289,f290,f291,f292,f293,f294,f295,f296,f297
1,0,0,1,1,1,100805.0,1,5,2,1,...,302.0,324.0,391.0,13.0,302.0,160.0,160.0,161.0,8.0,160.0
4,0,1,1,0,1,100805.0,1,5,1,2,...,302.0,301.0,301.0,74.0,302.0,182.0,181.0,182.0,51.0,181.0
5,0,0,0,1,1,100802.0,0,6,2,1,...,6.0,6.0,5.0,5.0,6.0,2.0,1.0,2.0,2.0,2.0
6,0,0,1,1,0,100805.0,0,6,2,1,...,301.0,301.0,301.0,150.0,301.0,239.0,239.0,239.0,116.0,240.0
8,0,1,1,1,1,100802.0,0,7,2,1,...,2.0,1.0,1.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0

In [65]:
test_ids = test_b.pop('id')
test_b.drop(['date'], axis=1, inplace=True)

In [66]:
test_X = test_b

In [67]:
validation.drop(['id', 'date'], axis = 1, inplace = True)

In [68]:
validation.head()

,label,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f288,f289,f290,f291,f292,f293,f294,f295,f296,f297
0,0,0,0,0,0,100807.0,0,5,1,1,...,301.0,312.0,328.0,85.0,302.0,201.0,203.0,203.0,61.0,201.0
2,0,0,0,1,0,100102.0,0,6,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,0,0,1,100807.0,1,4,1,2,...,302.0,322.0,341.0,57.0,251.0,175.0,176.0,176.0,49.0,150.0
7,0,1,0,0,1,100802.0,0,6,2,0,...,301.0,314.0,321.0,150.0,302.0,189.0,188.0,189.0,92.0,188.0
10,0,0,0,1,1,100807.0,0,1,1,1,...,302.0,305.0,321.0,246.0,301.0,132.0,133.0,133.0,100.0,131.0

In [69]:
train_Y = train.pop('label').values
train_X = train

In [70]:
validation_Y = validation.pop('label').values
validation_X = validation

In [71]:
from xgboost import XGBClassifier
model = XGBClassifier()
eval_set = [(validation_X, validation_Y)]
model.fit(train_X, train_Y, early_stopping_rounds=10, eval_metric="auc", eval_set=eval_set)

[0]	validation_0-auc:0.895891
Will train until validation_0-auc hasn't improved in 10 rounds.
[1]	validation_0-auc:0.908913
[2]	validation_0-auc:0.913598
[3]	validation_0-auc:0.913932
[4]	validation_0-auc:0.913945
[5]	validation_0-auc:0.913628
[6]	validation_0-auc:0.938287
[7]	validation_0-auc:0.939689
[8]	validation_0-auc:0.940614
[9]	validation_0-auc:0.94145
[10]	validation_0-auc:0.94784
[11]	validation_0-auc:0.94724
[12]	validation_0-auc:0.949448
[13]	validation_0-auc:0.950167
[14]	validation_0-auc:0.950463
[15]	validation_0-auc:0.950399
[16]	validation_0-auc:0.950307
[17]	validation_0-auc:0.950548
[18]	validation_0-auc:0.951283
[19]	validation_0-auc:0.951608
[20]	validation_0-auc:0.951736
[21]	validation_0-auc:0.953509
[22]	validation_0-auc:0.955622
[23]	validation_0-auc:0.955697
[24]	validation_0-auc:0.955893
[25]	validation_0-auc:0.955679
[26]	validation_0-auc:0.955659
[27]	validation_0-auc:0.956002
[28]	validation_0-auc:0.956395
[29]	validation_0-auc:0.956794
[30]	validation_0-auc:0.956811
[31]	validation_0-auc:0.957868
[32]	validation_0-auc:0.958341
[33]	validation_0-auc:0.958535
[34]	validation_0-auc:0.959028
[35]	validation_0-auc:0.958907
[36]	validation_0-auc:0.959376
[37]	validation_0-auc:0.959832
[38]	validation_0-auc:0.959922
[39]	validation_0-auc:0.960627
[40]	validation_0-auc:0.961753
[41]	validation_0-auc:0.961811
[42]	validation_0-auc:0.962982
[43]	validation_0-auc:0.963638
[44]	validation_0-auc:0.963393
[45]	validation_0-auc:0.963659
[46]	validation_0-auc:0.964086
[47]	validation_0-auc:0.964798
[48]	validation_0-auc:0.965222
[49]	validation_0-auc:0.965384
[50]	validation_0-auc:0.965714
[51]	validation_0-auc:0.966083
[52]	validation_0-auc:0.966312
[53]	validation_0-auc:0.966804
[54]	validation_0-auc:0.967249
[55]	validation_0-auc:0.967549
[56]	validation_0-auc:0.96815
[57]	validation_0-auc:0.96828
[58]	validation_0-auc:0.968731
[59]	validation_0-auc:0.96897
[60]	validation_0-auc:0.969223
[61]	validation_0-auc:0.969559
[62]	validation_0-auc:0.969759
[63]	validation_0-auc:0.969859
[64]	validation_0-auc:0.969995
[65]	validation_0-auc:0.970157
[66]	validation_0-auc:0.970266
[67]	validation_0-auc:0.970424
[68]	validation_0-auc:0.970563
[69]	validation_0-auc:0.970662
[70]	validation_0-auc:0.970865
[71]	validation_0-auc:0.971008
[72]	validation_0-auc:0.970995
[73]	validation_0-auc:0.971196
[74]	validation_0-auc:0.971333
[75]	validation_0-auc:0.971504
[76]	validation_0-auc:0.971752
[77]	validation_0-auc:0.971877
[78]	validation_0-auc:0.972015
[79]	validation_0-auc:0.972024
[80]	validation_0-auc:0.972152
[81]	validation_0-auc:0.972297
[82]	validation_0-auc:0.972403
[83]	validation_0-auc:0.972491
[84]	validation_0-auc:0.972593
[85]	validation_0-auc:0.97269
[86]	validation_0-auc:0.972759
[87]	validation_0-auc:0.972718
[88]	validation_0-auc:0.972735
[89]	validation_0-auc:0.972763
[90]	validation_0-auc:0.972828
[91]	validation_0-auc:0.972948
[92]	validation_0-auc:0.973128
[93]	validation_0-auc:0.9733
[94]	validation_0-auc:0.973397
[95]	validation_0-auc:0.973364
[96]	validation_0-auc:0.973378
[97]	validation_0-auc:0.973522
[98]	validation_0-auc:0.973531
[99]	validation_0-auc:0.973574

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [72]:
test_pred = model.predict(test_X)

In [73]:
test_pred.shape

(500538,)

In [74]:
rst = pd.DataFrame()
rst['id'] = test_ids
rst['score'] = test_pred

In [76]:
rst[['id', 'score']].to_csv('/root/ant/xgb_ant_b.csv', index=False, sep=',')

In [92]:
test_pred_1 = model.predict_proba(test_X)

In [97]:
test_pred_1[:,1]

array([ 0.00174808,  0.00046895,  0.00295542, ...,  0.00849326,
        0.05301582,  0.00839583], dtype=float32)

In [98]:
test_pred_1

array([[  9.98251915e-01,   1.74807943e-03],
       [  9.99531031e-01,   4.68945189e-04],
       [  9.97044563e-01,   2.95541622e-03],
       ...,
       [  9.91506755e-01,   8.49325862e-03],
       [  9.46984172e-01,   5.30158170e-02],
       [  9.91604149e-01,   8.39582644e-03]], dtype=float32)

In [99]:
rst = pd.DataFrame()
rst['id'] = test_ids
rst['score'] = test_pred_1[:,1]

In [100]:
rst.head()

                                                  id     score
0  661ae9a03c6c74feab2555c9987e140ae3f5421bd8e7a0...  0.001748
1  ada98d4358e72a27cc5e92f691a87a4fd62a7cda0387e2...  0.000469
2  e33675a962e5bf44d05a2b01903a4beb88a0c6385c05c6...  0.002955
3  4c5da176de7172dbd1ad0aa7edf9866548ec720d6c7318...  0.026871
4  fa39e3491900d49b862d30b5dbcd0b1c30bb4ff0d96396...  0.020080

In [101]:
rst[['id', 'score']].to_csv('/root/ant/xgb_ant_b.csv', index=False, sep=',')