In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("/root/ant/atec_anti_fraud_train.csv")
test_a = pd.read_csv("/root/ant/atec_anti_fraud_test_a.csv")
test_b = pd.read_csv("/root/ant/atec_anti_fraud_test_b.csv")

In [3]:
train.loc[train['label'] == -1,'label']=1
validation = train[train["date"] > 20171021]
train = train[train["date"] <= 20171021]

In [4]:
train.drop(['id', 'date'], axis=1, inplace=True)
validation.drop(['id', 'date'], axis=1, inplace=True)
train = train.reset_index(drop=True)
validation = validation.reset_index(drop=True)

In [5]:
train_Y = train.pop('label').values
train_X = train
validation_Y = validation.pop('label').values
validation_X = validation

In [7]:
import numpy as np
train_val_features = np.concatenate((train_X, validation_X),axis=0)
train_val_labels = np.concatenate((train_Y, validation_Y),axis=0)

In [8]:
import pandas as pd
import time
import datetime
from sklearn.utils import shuffle
import numpy as np
import xgboost as xgb
from xgboost.sklearn import XGBClassifier
from sklearn import cross_validation, metrics   #Additional     scklearn functions
from sklearn.grid_search import GridSearchCV   #Perforing grid search
from sklearn.cross_validation import PredefinedSplit

/root/sheldon/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/root/sheldon/anaconda2/lib/python2.7/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [9]:
test_fold = np.zeros(train_val_features.shape[0])   # 将所有index初始化为0,0表示第一轮的验证集
test_fold[:train_X.shape[0]] = -1            # 将训练集对应的index设为-1，表示永远不划分到验证集中
ps = PredefinedSplit(test_fold=test_fold)

In [10]:
param_test1 = {
 'max_depth':list(range(3,10,2)),
 'min_child_weight':list(range(1,6,2))
}

In [11]:
xgb1 = XGBClassifier(learning_rate = 0.1, 
                     n_estimators = 140, 
                     gamma = 0, 
                     subsample = 0.8, 
                     colsample_bytree = 0.8, 
                     objective = 'binary:logistic', 
                     scale_pos_weight = 1, 
                     seed = 27)

In [12]:
gsearch1 = GridSearchCV(estimator = xgb1, 
                        param_grid = param_test1, 
                        scoring='roc_auc', 
                        n_jobs=4, 
                        iid=False, 
                        cv=ps)

In [13]:
gsearch1.fit(train_val_features, train_val_labels)

GridSearchCV(cv=sklearn.cross_validation.PredefinedSplit(test_fold=[-1 -1 ...,  0  0]),
       error_score='raise',
       estimator=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.8, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=140,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=27, silent=True,
       subsample=0.8),
       fit_params={}, iid=False, n_jobs=4,
       param_grid={'max_depth': [3, 5, 7, 9], 'min_child_weight': [1, 3, 5]},
       pre_dispatch='2*n_jobs', refit=True, scoring='roc_auc', verbose=0)

In [17]:
dir(gsearch1)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__doc__',
 '__format__',
 '__getattribute__',
 '__getstate__',
 '__hash__',
 '__init__',
 '__module__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_cache',
 '_abc_negative_cache',
 '_abc_negative_cache_version',
 '_abc_registry',
 '_estimator_type',
 '_fit',
 '_get_param_names',
 'best_estimator_',
 'best_params_',
 'best_score_',
 'cv',
 'decision_function',
 'error_score',
 'estimator',
 'fit',
 'fit_params',
 'get_params',
 'grid_scores_',
 'iid',
 'inverse_transform',
 'n_jobs',
 'param_grid',
 'pre_dispatch',
 'predict',
 'predict_log_proba',
 'predict_proba',
 'refit',
 'score',
 'scorer_',
 'scoring',
 'set_params',
 'transform',
 'verbose']

In [20]:
gsearch1.best_estimator_

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.8, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=9, min_child_weight=5, missing=None, n_estimators=140,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=27, silent=True,
       subsample=0.8)

In [21]:
gsearch1.best_params_

{'max_depth': 9, 'min_child_weight': 5}

In [22]:
test_b.head()

,id,date,f1,f2,f3,f4,f5,f6,f7,f8,...,f288,f289,f290,f291,f292,f293,f294,f295,f296,f297
0,661ae9a03c6c74feab2555c9987e140ae3f5421bd8e7a0...,20180305,0,0,1,1,100810.0,0,4,2,...,301.0,301.0,302.0,192.0,301.0,218.0,219.0,219.0,153.0,218.0
1,ada98d4358e72a27cc5e92f691a87a4fd62a7cda0387e2...,20180303,0,0,1,1,100810.0,1,6,1,...,7.0,23.0,25.0,5.0,6.0,2.0,1.0,1.0,2.0,2.0
2,e33675a962e5bf44d05a2b01903a4beb88a0c6385c05c6...,20180226,0,0,1,1,100811.0,1,2,1,...,301.0,302.0,302.0,130.0,292.0,225.0,225.0,225.0,104.0,218.0
3,4c5da176de7172dbd1ad0aa7edf9866548ec720d6c7318...,20180207,1,0,1,0,100811.0,0,5,1,...,301.0,302.0,301.0,256.0,302.0,262.0,261.0,261.0,221.0,261.0
4,fa39e3491900d49b862d30b5dbcd0b1c30bb4ff0d96396...,20180226,0,0,1,1,100811.0,1,7,1,...,301.0,302.0,301.0,108.0,301.0,210.0,209.0,209.0,80.0,210.0

In [24]:
test_ids = test_b.pop('id')

In [25]:
test_b.drop(['date'], axis=1, inplace=True)

In [26]:
test_b.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f288,f289,f290,f291,f292,f293,f294,f295,f296,f297
0,0,0,1,1,100810.0,0,4,2,0,1,...,301.0,301.0,302.0,192.0,301.0,218.0,219.0,219.0,153.0,218.0
1,0,0,1,1,100810.0,1,6,1,0,2,...,7.0,23.0,25.0,5.0,6.0,2.0,1.0,1.0,2.0,2.0
2,0,0,1,1,100811.0,1,2,1,0,1,...,301.0,302.0,302.0,130.0,292.0,225.0,225.0,225.0,104.0,218.0
3,1,0,1,0,100811.0,0,5,1,2,1,...,301.0,302.0,301.0,256.0,302.0,262.0,261.0,261.0,221.0,261.0
4,0,0,1,1,100811.0,1,7,1,1,2,...,301.0,302.0,301.0,108.0,301.0,210.0,209.0,209.0,80.0,210.0

array([ 0.00174808,  0.00046895,  0.00295542, ...,  0.00849326,
        0.05301582,  0.00839583], dtype=float32)

array([[  9.98251915e-01,   1.74807943e-03],
       [  9.99531031e-01,   4.68945189e-04],
       [  9.97044563e-01,   2.95541622e-03],
       ...,
       [  9.91506755e-01,   8.49325862e-03],
       [  9.46984172e-01,   5.30158170e-02],
       [  9.91604149e-01,   8.39582644e-03]], dtype=float32)

                                                  id     score
0  661ae9a03c6c74feab2555c9987e140ae3f5421bd8e7a0...  0.001748
1  ada98d4358e72a27cc5e92f691a87a4fd62a7cda0387e2...  0.000469
2  e33675a962e5bf44d05a2b01903a4beb88a0c6385c05c6...  0.002955
3  4c5da176de7172dbd1ad0aa7edf9866548ec720d6c7318...  0.026871
4  fa39e3491900d49b862d30b5dbcd0b1c30bb4ff0d96396...  0.020080